html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, 
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, 
tfoot, thead, tr, th, td ,textarea,input { margin:0; padding:0;  }
address,cite,dfn,em,var, i {font-style:normal;}
body {font: 12px "Microsoft YaHei","微软雅黑","宋体",Arial,Helvetica,sans-serif;text-align: left;background-color: #fff; color: #333; margin: 0;box-sizing: border-box; } table { border-collapse:collapse; border-spacing:0; }
h1, h2, h3, h4, h5, h6, th { font-size: 100%; font-weight: normal; }
button,input,select,textarea{font-size:100%;}
fieldset,img{border:0;}
a{text-decoration: none; color: #ccc;outline: 0;}
ul, ol { list-style: none; }

.g-left{
	float:left;
}
.g-right{
	float: right;
}

.g-color{
	color: #ccc;
}

.g_wrap{
	margin:0 auto;
	width: 1080px;
}
.g_orange{
		background: orange !important;
		}

.wrap{
	width: 100%;
	background: white;

}
/*公共样式结束*/




/*复用头部样式*/
header{
	width: 1190px;
	height: 100px;
	margin: 0 auto;
	
	.logo{
		line-height: 100px;
		img{
			vertical-align: middle;
		}
	}
	p{
		color: #8c8292;
		line-height: 100px;
		a{
			width: 27px;
			display: inline-block;
			color: #8c8292;
		}
		i{
			display: inline-block;
			width: 1px;
			height: 13px;
			background: #8c8292;
			vertical-align: middle;
			
		}
		
	}
}



.footer_wrap{
	background: white;
}

.footer{

	.service{
		ul>li{
			width: 270px;
			line-height: 120px;
			float:left;
			padding-left: 50px;
			box-sizing: border-box;
			img{
				vertical-align: middle;
			}
			span{
				margin-left: 25px;
				font-size: 14px;
				color: #333;

			}
		}
	}
	.footer_main{
		
		padding-top: 40px;
			padding-left: 50px;
			overflow: hidden;
		div{
			float: left;
			margin-right: 120px;
			
			p{
				font-size: 16px;
				color: black;
				margin-bottom: 35px;
			}
			span{
				display: block;
				margin-bottom: 15px;
				color:#808080;
			}
			img{
				margin-top: -15px;
				width: 100px;
				height: 100px;
			}

		}

		div:last-child{
			text-align: center;
			width: 225px;
			margin:0;
			height: 142px;
			border-left: 2px solid #f2f2f2;
		}
	}
	.copyright{
		text-align: center;
		padding-top: 65px;
		p{
			margin-bottom: 10px;
			color:#808080;
			span{
				margin:0 12px;
			}
			
		}
	}

}



